<html  ng-app = "homepage">

<head>
  <title>Home</title>



<body ng-controller = "SuperAdminController">

{% csrf_token %}
{% verbatim %} 

<i><div align="center"  style="background-color: #CECEF6; height: 500px; width: 300px; float: left"><h1>Add Property </h1>
  <p><i>Property Name : &nbsp;<input type = "text" ng-model = "propertyname" placeholder = 'Property' ></p><i>
  <p>No. of Plots : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type = "text" ng-model = "plots" placeholder = 'plot'></p>
  <p>No. of Flats : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type = "text" ng-model = "flats" placeholder = 'flats'></p>
<button style="" class="myButton"  ng-click = "add_property(propertyname, plots, flats)">Add
</button>

</div><i>

<div  align="center"  style="background-color: #FA8258; height: 500px; width: 300px; float: left">
  <h1>Add User </h1>
  <p>User Name : <input type = "text" ng-model = "username" placeholder = 'username' ></p>
  <p>Password : &nbsp;&nbsp;<input type = "text" ng-model = "paswrd" placeholder = 'password'></p>
  <p>Mobile : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type = "text" ng-model = "mob_no" placeholder = 'Mobile'></p>
  <p>City : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type = "text" ng-model = "city" placeholder = 'City'></p>
<button style="" class="myButton"  ng-click = "add_user(username, paswrd, mob_no, city)">Add
</button>

</div>
<div style="background-color: #BDBDBD; height: 500px; width: 900px; float: right"><h1>List of Clients for Approval <h1>
<table border="1" bgcolor="#D0FA58" style="border-radius:10px;width:100%;height:30px;border-color:grey;margin-top:40px;" ng-init = "approve_property()">
	<tr>
	<!-- <th> Client </th> -->
	<th> Property Name </th>
	<th> Plot Booked </th>
	<th> Flat Booked </th>
	<th> Approved </th>
    </tr>
    <tr style = "width:1000px" ng-repeat = "i in fetch_property_data">
    	<td>{{i.pro_name}}</td>
    	<td>{{i.flat}}</td>
    	<td>{{i.plot}}</td>
    	<td><button ng-click="">Approved</button></td>
    	<!-- <button> BUY</button> -->
    </tr>
</table>
</div>

{% endverbatim %}

</body>



<script src="{{STATIC_URL}}scripts/angular.js">
</script>

<script src="{{STATIC_URL}}scripts/angular-resource.js?v=ea561588a753dc68e5355947849d0e9e"></script>
<script src="{{STATIC_URL}}scripts/angular_cookie.js"></script>
<script src="{{STATIC_URL}}scripts/home.js"></script>
<script src="{{STATIC_URL}}scripts/factories.js"></script>
<script src="{{STATIC_URL}}scripts/angular-route.js"></script>
  
<script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.11.0.js"></script>
<script src="{{STATIC_URL}}scripts/jquery-1.9.1.min.js"></script>  
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>

</html>