<html  ng-app = "homepage">
<head>
  <title>Home</title>

<body ng-controller = "SuperAdminController">

{% csrf_token %}
{% verbatim %} 

<div><h1> Property </h1>
  Property Name : <input type = "text" ng-model = "propertyname" placeholder = 'Property' >
  No. of Plots : <input type = "text" ng-model = "plots" placeholder = 'plot'>
  No. of Flats : <input type = "text" ng-model = "flats" placeholder = 'flats'>
<button style="" class="myButton"  ng-click = "add_property(propertyname, plots, flats)">Create
</button>

</div>

<div>
  <h1>Add User </h1>
  User Name : <input type = "text" ng-model = "username" placeholder = 'username' >
  Password : <input type = "text" ng-model = "paswrd" placeholder = 'password'>
  Mobile : <input type = "text" ng-model = "mob_no" placeholder = 'Mobile'>
  City : <input type = "text" ng-model = "city" placeholder = 'City'>
<button style="" class="myButton"  ng-click = "add_user(username, paswrd, mob_no, city)">Create
</button>

</div>



{% endverbatim %}

</body>



<script src="{{STATIC_URL}}scripts/angular.js">
</script>

<script src="{{STATIC_URL}}scripts/angular-resource.js?v=ea561588a753dc68e5355947849d0e9e"></script>
<script src="{{STATIC_URL}}scripts/angular_cookie.js"></script>
<script src="{{STATIC_URL}}scripts/home.js"></script>
<script src="{{STATIC_URL}}scripts/factories.js"></script>
<script src="{{STATIC_URL}}scripts/angular-route.js"></script>
  
<script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.11.0.js"></script>
<script src="{{STATIC_URL}}scripts/jquery-1.9.1.min.js"></script>  
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>

</html>